<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWebSite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.java.one.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.java.one.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loging</display-name>
    <servlet-name>loging</servlet-name>
    <servlet-class>com.two.java.loging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loging</servlet-name>
    <url-pattern>/loging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logingC1</display-name>
    <servlet-name>logingC1</servlet-name>
    <servlet-class>com.two.java.logingC1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logingC1</servlet-name>
    <url-pattern>/logingC1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcome</display-name>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.two.java.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest1</display-name>
    <servlet-name>SessionTest1</servlet-name>
    <servlet-class>com.three.java.SessionTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest1</servlet-name>
    <url-pattern>/SessionTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest2</display-name>
    <servlet-name>SessionTest2</servlet-name>
    <servlet-class>com.three.java.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest2</servlet-name>
    <url-pattern>/SessionTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest3</display-name>
    <servlet-name>SessionTest3</servlet-name>
    <servlet-class>com.three.java.SessionTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest3</servlet-name>
    <url-pattern>/SessionTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest1</display-name>
    <servlet-name>CookieTest1</servlet-name>
    <servlet-class>com.four.java.CookieTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest1</servlet-name>
    <url-pattern>/CookieTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest2</display-name>
    <servlet-name>CookieTest2</servlet-name>
    <servlet-class>com.four.java.CookieTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest2</servlet-name>
    <url-pattern>/CookieTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest3</display-name>
    <servlet-name>CookieTest3</servlet-name>
    <servlet-class>com.four.java.CookieTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest3</servlet-name>
    <url-pattern>/CookieTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeltUsers</display-name>
    <servlet-name>ServeltUsers</servlet-name>
    <servlet-class>com.java.one.ServeltUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltUsers</servlet-name>
    <url-pattern>/ServeltUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Two</display-name>
    <servlet-name>Two</servlet-name>
    <servlet-class>com.java.one.Two</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Two</servlet-name>
    <url-pattern>/Two</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>six</display-name>
    <servlet-name>six</servlet-name>
    <servlet-class>com.java.one.six</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/six</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serveltUsers</display-name>
    <servlet-name>serveltUsers</servlet-name>
    <servlet-class>com.homework.servlet.serveltUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serveltUsers</servlet-name>
    <url-pattern>/serveltUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletA</display-name>
    <servlet-name>servletA</servlet-name>
    <servlet-class>com.homework.servlet.servletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletA</servlet-name>
    <url-pattern>/servletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dispose</display-name>
    <servlet-name>dispose</servlet-name>
    <servlet-class>model.dispose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispose</servlet-name>
    <url-pattern>/dispose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>model.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wdispose</display-name>
    <servlet-name>wdispose</servlet-name>
    <servlet-class>model.wdispose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wdispose</servlet-name>
    <url-pattern>/wdispose</url-pattern>
  </servlet-mapping>
</web-app>